version: 2

jobs:
  get_cve:
    machine: true
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - restore_cache:
          keys:
            - cve-{{ .Branch }}
          paths:
            - /tmp/cve.sqlite3
      - run:
          name: fetch NVD
          command: |
            for i in `seq 2018 $(date +"%Y")`; do docker run -rm -it -v /tmp:/tmp vuls/go-cve-dictionary fetchnvd -years $i -dbpath "/tmp/cve.sqlite3"; done
      - run:
          name: fetch CVE
          command: |
            for i in `seq 2018 $(date +"%Y")`; do docker run -rm -it -v /tmp:/tmp vuls/go-cve-dictionary fetchjvn -years $i -dbpath "/tmp/cve.sqlite3" ; done
      - save_cache:
          key: cve-{{ .Branch }}
          paths:
            - /tmp/cve.sqlite3
      - persist_to_workspace:
          root: /tmp
          paths:
            - cve.sqlite3
  get_oval:
    machine: true
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - restore_cache:
          keys:
            - oval-{{ .Branch }}
          paths:
            - /tmp/oval.sqlite3
      - run:
          name: fetch oval
          command: docker run -rm -it -v /tmp:/tmp vuls/goval-dictionary fetch-alpine 3.5 3.6 -dbpath "/tmp/oval.sqlite3"
      - save_cache:
          key: oval-{{ .Branch }}
          paths:
            - /tmp/oval.sqlite3
      - persist_to_workspace:
          root: /tmp
          paths:
            - oval.sqlite3
  scan:
    docker:
      - image: nidstyle3/vuls-onbuild:latest
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - attach_workspace:
          at: /tmp
      - run:
          name: run container
          command: docker run -d nginx:latest
      - run:
          name: config test
          command: vuls configtest -config=./config.toml
      - run:
          name: scan
          command: vuls scan -config=./config.toml
workflows:
  version: 2
  vuls:
    jobs:
      - get_cve
      - get_oval
      - scan:
          requires:
            - get_cve
            - get_oval